<h1>Users#show</h1>
<body style="background-image: url(<%= '/assets/home2.jpg' %>)">
  <div class="profile-box">
    <h1><%= @user.full_name %>'s Profile</h1><br><br>
   <strong>First Name: &nbsp&nbsp <%= @user.first_name %></strong> <br>
   <strong>Last Name: &nbsp &nbsp <%= @user.last_name %> </strong><br>
   <strong>Email: &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp <%= @user.email %></strong> <br>
   <!-- Donations:
   Runs:
   Distributions: -->
  </div>
</body>
