<h1>Distributions#index</h1>

<li><%= link_to 'Post a New Distribution', new_distribution_path %></li>


<div class="mainview">
<h1>Distribution Dropoffs</h1>
  <div class="index-grid">
    <% @distributions.each  do |g| %><br>
    <div class="index-cells-stu">
      Last Name: &nbsp&nbsp<%= g.last_name %><br>
      First Name: &nbsp &nbsp<%= g.first_name %><br>
      Email: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= g.email %><br>
      Phone Number: &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp<%= g.phone %><br>
      Region: &nbsp &nbsp&nbsp <%= g.region %> <br>
      Donation: &nbsp &nbsp&nbsp <%= g.distribution %> <br>
      Drop Off Location: &nbsp &nbsp&nbsp <%= g.dropoff_location %> <br>
      Drop Off Date: &nbsp &nbsp&nbsp <%= g.dropoff_date %> <br>
      Drop Off Time: &nbsp &nbsp&nbsp <%= g.dropoff_time %> <br>
      Runner: &nbsp &nbsp&nbsp <%= g.runner %> <br>
      Distributor: &nbsp &nbsp&nbsp <%= g.donor %> <br>
        <%= link_to "Edit", edit_distribution_path(g.id) %>
    </div>
    <% end %>
  </div>
</div>
