<body style="background-image: linear-gradient(to bottom right, var(--ysub) , #cbcbcb)">
<div class="d-new">
  <h1>Donation</h1><br>
    <div>
    First Name: &emsp; &emsp; <%= @donation.first_name %> <br>
    Last Name:  &emsp; &emsp;&ensp;<%= @donation.last_name %> <br>
    Phone:  &emsp; &emsp; &emsp; &ensp;<%= @donation.phone %><br>
    Pick Up Date:  &emsp;&nbsp <%= @donation.pickup_date %> <br>
    Pick Up Time: &emsp; &nbsp <%= @donation.pickup_time %> <br>
    Region: &emsp; &emsp; &ensp;&emsp; &ensp;  <% @donation.region %> <br>
    Pick Up <br>Location:  &emsp; &emsp;&ensp; <%= @donation.pickup_location %> <br>
    Donation:  &emsp; &emsp;&ensp;<%= @donation.donation %> <br>
    Runner: &nbsp &nbsp&nbsp <%= Runner.find(@donation.runner_id).full_name if @donation.runner_id %> <br><br>
  </div>
  <%= link_to "Edit", edit_donation_path %> &emsp; &emsp;
  <%= link_to "Index", donations_path %> &emsp; &emsp;
  <%= link_to "New", new_donation_path %><br>
</div>
</body>
