<!DOCTYPE html>
<html>
  <head>
    <title>Ppp4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Assistant|Barlow|Barlow+Condensed|Barlow+Semi+Condensed|Catamaran|Heebo|Istok+Web|Julius+Sans+One|Krub|Molengo|PT+Sans+Caption|PT+Sans+Narrow|Pontano+Sans|Questrial" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render 'layouts/header' %>
    </div>
    <%= yield %>
  </body>
</html>
